@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@font-face {
  font-family: "Wix Madefor Text";
  src: url(../fuentes/WixMadeforText-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Raleway";
  src: url(../fuentes/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fuentes/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Wix Madefor Text";
  src: url(../fuentes/WixMadeforText-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Raleway";
  src: url(../fuentes/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fuentes/Montserrat-Regular.ttf);
}
#fondo-index {
  background-image: url("../imagenes/fondo index.png");
  background-repeat: repeat;
  background-size: contain;
}

#video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10%;
}
#video iframe {
  width: 100%;
  height: 200px;
}

article {
  padding-left: 50px;
  padding-right: 50px;
}
article h1 {
  font-size: 35px;
  color: whitesmoke;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
article p {
  font-size: 20px;
  font-family: "Raleway";
  color: whitesmoke;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
article p #data {
  font-style: italic;
}

@media (min-width: 768px) {
  #video iframe {
    height: 300px;
  }
  section article h1 {
    font-size: 45px;
  }
  section article p {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  #video {
    margin: 5% 15%;
  }
  #video iframe {
    height: 500px;
  }
  section article h1 {
    font-size: 60px;
  }
  section article p {
    font-size: 30px;
  }
}
@font-face {
  font-family: "Wix Madefor Text";
  src: url(../fuentes/WixMadeforText-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Raleway";
  src: url(../fuentes/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fuentes/Montserrat-Regular.ttf);
}
main .fecha--matchlist {
  border-bottom: 1px solid black;
  font-family: "times new roman";
  font-size: 35px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 10px;
}
main .partida-url {
  text-decoration: none;
}
main .partida-url .partida {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 1px;
}
main .partida-url .partida .equipos {
  display: grid;
  grid-template-columns: 80px 80px;
  grid-template-rows: 80px 80px;
  align-items: center;
  margin: 0px 10px 0px 10px;
}
main .partida-url .partida .equipos .equipo--img1, main .partida-url .partida .equipos .equipo--img2 {
  width: 70px;
  height: 70px;
}
main .partida-url .partida .equipos .equipo--compu1, main .partida-url .partida .equipos .equipo--compu2 {
  display: none;
}
main .partida-url .partida .equipos .equipo--cel1, main .partida-url .partida .equipos .equipo--cel2 {
  font-size: 200%;
  color: whitesmoke;
  font-family: "Montserrat";
}
main .partida-url .partida .equipos .resultado--compu {
  display: none;
}
main .partida-url .partida .resultado--cel {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  color: whitesmoke;
  font-family: "Montserrat";
}
main .partida-url .partida .resultado--cel .resultado--team1 {
  margin-bottom: 10px;
}
main .partida-url .partida .resultado--cel .resultado--team2 {
  margin-top: 10px;
}
main .partida-url .partida .BO {
  font-size: 2.5em;
  color: whitesmoke;
  margin-right: 10px;
  font-family: "Montserrat";
}

@media (min-width: 768px) {
  main .fecha--matchlist {
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
  }
  main .partida-url .partida {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas: "none equipos BO";
    justify-items: center;
  }
  main .partida-url .partida .equipos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
    grid-area: equipos;
  }
  main .partida-url .partida .equipos .equipo--img1, main .partida-url .partida .equipos .equipoi--mg2 {
    width: 85px;
    height: 85px;
  }
  main .partida-url .partida .equipos .equipo--compu1, main .partida-url .partida .equipos .equipo--compu2 {
    display: inline;
    font-size: 20px;
    color: whitesmoke;
    width: 100%;
    font-family: "roboto";
    font-weight: bold;
  }
  main .partida-url .partida .equipos .equipo--compu1 {
    text-align: right;
  }
  main .partida-url .partida .equipos .equipo--cel1, main .partida-url .partida .equipos .equipo--cel2 {
    display: none;
  }
  main .partida-url .partida .equipos .resultado--compu {
    display: inline;
    font-size: 30px;
    color: white;
    margin: 10px;
    width: 25%;
    text-align: center;
  }
  main .partida-url .partida .resultado--cel {
    display: none;
  }
  main .partida-url .partida .resultado--cel .resultado--team1, main .partida-url .partida .resultado--cel .resultado--team2 {
    display: none;
  }
  main .partida-url .partida .BO {
    grid-area: BO;
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  main .fecha--matchlist {
    font-size: 55px;
  }
  main .partida-url .partida .equipos .equipo--compu1, main .partida-url .partida .equipos .equipo--compu2 {
    font-size: 35px;
  }
  main .partida-url .partida .equipos .resultado--compu {
    display: inline;
    font-size: 40px;
    color: white;
    margin: 20px;
    width: 15%;
  }
  main .partida-url .partida:hover {
    background-image: radial-gradient(circle, gray, rgb(94, 92, 92));
  }
}
@font-face {
  font-family: "Wix Madefor Text";
  src: url(../fuentes/WixMadeforText-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Raleway";
  src: url(../fuentes/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fuentes/Montserrat-Regular.ttf);
}
.encabezado {
  padding: 10px;
}
.encabezado .encabezado--titulo {
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
  font-size: 40px;
  font-weight: bold;
}
.encabezado .encabezado--texto {
  font-family: "raleway";
  color: whitesmoke;
  font-size: 15px;
}

.liga {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  opacity: 0.8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.liga .video--liga {
  display: none;
}
.liga .fecha--calendario {
  font-size: 25px;
  color: white;
  width: 100px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.liga .logo--calendario {
  display: flex;
  justify-content: space-around;
  width: 100px;
}
.liga .logo--calendario .logo--twitch img, .liga .logo--calendario .logo--youtube img {
  width: 30px;
  height: 30px;
}

.liga--lpl {
  background-image: url(../imagenes/banner\ lpl.png);
}

.liga--lck {
  background-image: url(../imagenes/banner\ lck.png);
}

.liga--lec {
  background-image: url(../imagenes/banner\ lec.png);
}

.liga--lcs {
  background-image: url(../imagenes/banner\ lcs.png);
}

.liga--lla {
  background-image: url(../imagenes/banner\ lla.png);
}

.liga--cblol {
  background-image: url(../imagenes/banner\ cblol.png);
}

@media (min-width: 768px) {
  .encabezado .encabezado--titulo {
    font-size: 45px;
  }
  .encabezado .encabezado--texto {
    font-size: 20px;
  }
  .liga {
    width: 100%;
    height: 40vh;
  }
  .liga .fecha--calendario {
    font-size: 40px;
    width: 400px;
  }
  .liga .logo--calendario {
    width: 400px;
  }
  .liga .logo--calendario .logo--twitch img, .liga .logo--calendario .logo--youtube img {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 1200px) {
  .encabezado .encabezado--titulo {
    font-size: 60px;
  }
  .encabezado .encabezado--texto {
    font-size: 30px;
  }
  .liga {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 1s;
  }
  .liga .video--liga {
    height: 500px;
    position: absolute;
  }
  .liga .fecha--calendario {
    font-size: 65px;
    z-index: 1;
  }
  .liga .logo--calendario {
    z-index: 1;
  }
  .liga .logo--calendario .logo--twitch img, .liga .logo--calendario .logo--youtube img {
    width: 100px;
    height: 100px;
  }
}
.liga:hover {
  transform: scale(1.3);
  z-index: 1;
  opacity: 1;
}
.liga:hover .video--liga {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(94, 92, 92);
}

.navbar {
  background-color: black;
}
.navbar a .logo--img {
  width: 60px;
  margin-left: 10px;
}
.navbar .navbar-brand, .navbar .nav-link {
  color: white;
  font-family: "times new roman";
  font-size: 30px;
}
.navbar .nav-link {
  font-size: 20px;
  font-family: "Wix Madefor Text";
  margin-left: 10px;
}

.header--desktop {
  display: none;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "riot copyright" "lol copyright";
  justify-items: center;
  padding: 15px;
  background-color: black;
}
footer .imagenes--footer {
  padding: 5px;
}
footer .imagenes--footer .item--riot {
  grid-area: riot;
}
footer .imagenes--footer .item--lol {
  grid-area: lol;
}
footer .copyright {
  color: whitesmoke;
  font-size: 16px;
  grid-area: copyright;
}

@media (min-width: 768px) {
  .navbar {
    display: none;
  }
  .header--desktop {
    background-color: black;
    border-bottom: groove 8px black;
    position: sticky;
    top: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
  }
  .header--desktop .logo {
    display: flex;
    align-items: center;
  }
  .header--desktop .logo a .logo--img {
    width: 60px;
    height: 60px;
  }
  .header--desktop .logo .logo--texto {
    color: white;
    font-size: 30px;
    font-family: "instrumentSerif-regular";
    text-decoration: none;
  }
  .header--desktop .paginas {
    display: flex;
    justify-content: space-around;
  }
  .header--desktop .paginas .paginas--link {
    text-decoration: none;
    font-family: "sigmar-regular", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "riot lol copyright";
}
footer .imagenes--footer .item--riot img, footer .imagenes--footer .item--lol img {
  width: 120px;
}
footer .copyright {
  font-size: 20px;
}

@media (min-width: 1200px) {
  .header--desktop {
    grid-template-columns: 325px 950px;
    grid-template-rows: 105px;
  }
  .header--desktop .logo a .logo--img {
    width: 85px;
    height: 85px;
  }
  .header--desktop .logo .logo--texto {
    font-size: 55px;
  }
  .header--desktop .paginas .paginas--link {
    font-size: 55px;
  }
}

/*# sourceMappingURL=styles.css.map */
