
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@font-face{font-family: 'Wix Madefor Text';
src:url(../fuentes/WixMadeforText-VariableFont_wght.ttf)};
@font-face {font-family:'Raleway';
src: url(../fuentes/Raleway-Regular.ttf);};
@font-face {font-family:'Montserrat';
src: url(../fuentes/Montserrat-Regular.ttf);};
$wix:'Wix Madefor Text';
$raleway:'Raleway';
$montserrat:'Montserrat';