@import 'tipografias';

@mixin flex-row-center{display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;}

#fondo-index{background-image: url("../imagenes/fondo\ index.png");
    background-repeat: repeat;
    background-size: contain;}
    
    #video{@include flex-row-center;
    margin: 10%;
        iframe { width: 100%;
        height: 200px;}}
    
    article{padding-left: 50px;
    padding-right: 50px;
        h1 {font-size: 35px;
        color: whitesmoke;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;}
        p {font-size: 20px;
        font-family: $raleway;
        color: whitesmoke;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
            #data{font-style: italic;}}}
    
    @media(min-width:768px){
    
    #video{
        iframe{height: 300px;}}
    
    section{
        article{
            h1{font-size: 45px;}
            p{font-size: 25px;}}}}
    
    @media(min-width:1200px){
    
    #video{margin: 5% 15%;
        iframe{height: 500px;}}
    
    section{
        article{
            h1{font-size: 60px;}
            p{font-size: 30px;}}}}
    