@import 'tipografias';
@import 'estilo-index';
@import 'estilo-matchlist';
@import 'estilo-calendario';


@mixin flex-row-center{display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;}

* {margin: 0;
padding: 0;}

body {background-color: rgb(94, 92, 92);}

.navbar{background-color: black;
    a{
        .logo--img{width: 60px;
        margin-left: 10px;}}
    .navbar-brand, .nav-link{color: white;
    font-family: 'times new roman';
    font-size: 30px;}
    .nav-link{font-size: 20px;
    font-family: $wix;
    margin-left: 10px;}}

.header--desktop{display: none;}

footer{display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas: 
"riot copyright" 
"lol copyright" ;
justify-items: center;
padding: 15px;
background-color: black;
    .imagenes--footer{padding: 5px;
        .item--riot{grid-area: riot;}
        .item--lol{grid-area: lol;}}
    .copyright{color: whitesmoke;
    font-size: 16px;
    grid-area: copyright;}}

@media(min-width:768px){
.navbar{display: none;}

.header--desktop{
background-color: black;
border-bottom: groove 8px black;
position: sticky;
top: 0;
z-index: 100;
display: grid;
grid-template-columns: 200px auto;
align-items: center;
    .logo{display: flex;
    align-items: center;
        a{
            .logo--img{width: 60px;
        height: 60px;}}   
        .logo--texto{color: white;
        font-size: 30px;
        font-family: 'instrumentSerif-regular';
        text-decoration: none;}}
    .paginas{display: flex;
    justify-content: space-around;
        .paginas--link{
        text-decoration: none;
        font-family: 'sigmar-regular', sans-serif;
        color: white;
        font-size: 30px;
        font-weight: bold;}}}

footer{display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
grid-template-areas: "riot lol copyright";
    .imagenes--footer{
        .item--riot, .item--lol{
            img{width: 120px;}}}
    .copyright{font-size: 20px;}}}

@media(min-width: 1200px){
.header--desktop{grid-template-columns: 325px 950px;
grid-template-rows: 105px;
    .logo{
        a{
            .logo--img {width: 85px;
            height: 85px;}}          
        .logo--texto {font-size: 55px;}}
    .paginas{        
        .paginas--link {font-size: 55px;}}}}

