
* {margin: 0;
padding: 0;}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {background-color: rgb(94, 92, 92);}

.navbar{background-color: black;}

.logo--img{width: 60px;}

.navbar-brand, .nav-link{color: white;
  font-family: 'instrumentSerif-regular';
font-size: 30px;}

.nav-link{font-size: 20px;
  font-family: 'sigmar-regular', sans-serif;
margin-left: 10px}
  
.header--desktop{display: none;}

footer{display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-items: center;
padding: 20px;
background-color: black;}

.copyright{color: whitesmoke;
font-size: 10px;}

@media(min-width:768px){
 
.navbar{display: none;}  

.header--desktop {
  background-color: black;
  border-bottom: groove 8px black;
  position: sticky;
  top: 0;
  z-index: 100;
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;}

.logo{display: flex;
  align-items: center;} 

.logo--img{width: 60px;
height: 60px;}

.logo--texto{ color: white;
  font-size: 30px;
  font-family: 'instrumentSerif-regular';
text-decoration: none;}

.paginas{display: flex;
justify-content: space-around;}  

.paginas--link{
  text-decoration: none;
  font-family: 'sigmar-regular', sans-serif;
  color: white;
  font-size: 30px;
  font-weight: bold;}

.copyright{font-size: 15px}}


@media (min-width: 1200px){
.logo--img {width: 85px;
  height: 85px;}

.header--desktop{grid-template-columns: 325px 950px;
grid-template-rows: 105px;}
  
.logo--texto {font-size: 55px;}
      
.paginas--link {font-size: 55px;}

.copyright{font-size: 18px}}

/* CSS index.html */

#fondo-index{background-image: url("../imagenes/skins-lol-msi-2023-oficial1.webp");
  background-repeat: repeat;
  background-size: contain;}
  
#video {
  display: flex;
  justify-content: center;
  align-items: center;
margin: 10%;}

iframe{width: 100%;
height: 200px;}  

article {padding-left: 50px;
  padding-right: 50px;}

h3{font-size: 35px;
  color: whitesmoke;
  text-align: center;
  font-family: 'sigmar-regular';
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;}


p{font-size: 20px;
  font-family:'WixMadeforText-VariableFont_wght' ;
color:whitesmoke;
text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;}

#data {font-style: italic;}

@media(min-width:768px)
{h3{font-size: 45px;}

p{font-size: 25px;}

iframe{height: 300px;}}

@media(min-width:1200px)
{h3{font-size: 60px;}

p{font-size: 30px;}

#video{margin: 5% 15%}

iframe{height: 500px;}}

/* CSS Match list */

#match-list {margin-top: 20px;
  margin-left: 10px;
  border: 2px solid black;
  width: 350px;
}

h1 {
  font-size: 25px;
  background-color: black;
  color: white;
  font-family: 'roboto-thin';
  padding: 5px;
}

.match {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  padding: 5px;
}

.match--dia {
  font-size: 20px;
  color: whitesmoke;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px;
  font-family:'wixmadefortext-variablefont_wght';}

.match--partida {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.match--partida--compu{display: none;}

.match--partida--cel{font-size: 20px;
color: black;
font-family: 'roboto-thin';}

.match--url{display: flex}

.url {font-size: 15px;
  border: 1px solid black;
  padding: 3px;
margin: 2px;} 

@media(min-width: 768px)  
{#match-list{width: 600px;}

h1{font-size: 35px;}

.match--partida--cel{display: inline;
  font-size: 30px;
color: black;}

.match--dia{font-size: 30px;}

.url{font-size: 25px;
padding: 5px;
margin: 5px;}}

@media(min-width:1200px)
{#match-list{width: 1000px}

h1{font-size: 45px;}

.match--dia{font-size: 35px;}

.match--partida--compu{display: flex;
  font-size: 35px;
justify-content: space-between;
margin-bottom: 5px;
font-family: 'roboto-thin';
color: black;}

.url{font-size: 30px;}

.match--partida--cel{display: none;}}

/* CSS calendario */        


.fecha {border-bottom: 1px solid black;
  margin-bottom: 5px;
  font-family: 'wixmadefortext-variablefont_wght' ;
  font-size: 35px;
  color: black;
  font-weight: bold;}

    
.partida {display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 1px;}

.equipos{display: grid;
  grid-template-columns: 80px 80px;
  grid-template-rows: 80px 80px;
  align-items: center;}    

.equipo--compu1, .equipo--compu2{display: none;}

.equipo--cel1, .equipo--cel2{
  font-size: 200%;
  color: whitesmoke;
  font-family: 'roboto-thin';}

.versus {display: none;}

.bo5{font-size: 2.5em;
  color: whitesmoke;
  font-family:'Times New Roman', Times, serif;}

@media (min-width:768px){
.fecha {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 45px;}

.partida {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: "none equipos bo5";
  justify-items: center;}

.equipos {display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  grid-area: equipos;}

.equipo--compu1, .equipo--compu2 {display: inline;
  font-size: 25px;
  color: whitesmoke;
  width: 100%;
  font-family: 'roboto-thin';}

.equipo--compu1{text-align: right;} 
  
.versus {display: inline;
  font-size: 40px;
  color: white;
  margin: 20px;
  font-family: 'Times New Roman', Times, serif;}
  
.equipo--cel1, .equipo--cel2 {
  display: none;}
  
.equipo1, .equipo2 {width: 85px;
  height: 85px;}
  
.bo5 {grid-area: bo5;
  font-size: 30px;}}

@media (min-width: 1200px){

.fecha{font-size: 55px;}  
      
.equipo--compu1, .equipo--compu2 {font-size: 35px;}
      
.versus {display: inline;
  font-size: 40px;
  color: white;
  margin: 20px;}
      
.equipo--cel {
  display: none;}}